@mixin desktopHd() {
  @media screen and (max-width: $bp-desktop-hd) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (max-width: $bp-desktop) {
    @content;
  }
}

@mixin tablets-hor() {
  @media screen and (max-width: $bp-tablets-hor) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: $bp-tablets) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $bp-phones) {
    @content;
  }
}

@mixin phones-mini() {
  @media screen and (max-width: $bp-phones-mini) {
    @content;
  }
}