// ==================================================
// ======================about=======================
// ==================================================

.about {
	background: url('/img/content/about_bg.jpg') center center no-repeat;
	background-size: cover;
	padding: 90px 0;
}

.about__title h2 {
	font-size: 36px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.about__list {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 100px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		top: 76px;
		left: 0;
		height: 1px;
		background-color: #fff;
		z-index: -1;
		@include tablets {
		display: none;
		}
	}

	@include tablets {
		justify-content: center;
		flex-wrap: wrap;
	}
}

.about__item {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include tablets {
		width: 30%;
		margin-bottom: 20px;
	}

	@include phones {
		width: 50%;
	}
}

.about__item-img {
	background-color: #ffffff;
	border: solid 1px #ecebee;
	width: 153px;
	height: 153px;
	display: flex;
	justify-content: center;
	border-radius: 100%;
	align-items: center;

	@include tablets {
		width: 100px;
		height: 100px;
	}

}

.about__item-img-wrap {
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #aaadb7;
	width: 127px;
	height: 127px;
	
	@include tablets {
		width: 90px;
		height: 90px;
	}
}

.about__item-text {
	margin-top: 22px;
	max-width: 60%;
}

.about__item-text h3 {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 24px;

	span {
		font-weight: bold;
		color: #df351b;
	}
}


.about__content--work {
	.about__item-text h3 {
		white-space: nowrap;
	}
}