// =======================================================================
// ==============================SLIDER===================================
// =======================================================================

.additional__slider {
  position: relative;
  width: 100%;
  // height: 200px;
  margin: 50px auto 0;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.additional__slider img {
  pointer-events: none;
}

.additional__slider-list {
  width: 100%;
  // height: 200px;
  overflow: hidden;
}

.additional__slider-list.grab {
  cursor: grab;
}

.additional__slider-list.grabbing{
  cursor: grabbing;
}

.additional__slider-track {
  display: flex;
}

.additional__slider-arrows {
  margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: flex-end;
	.next,
	.prev {
		background: none;
		border: none;
		color: #000;
		margin: 0 10px;
		font-size: 30px;
		cursor: pointer;
	}

	.next {
		transform: rotate(180deg)
	}
	
	.next.disabled,
	.prev.disabled {
		opacity: .25;
		pointer-events: none;
	}

	.qty {
		display: none;
	}
}


.additional__slide {
  width: 25%;
  // height: 200px;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  // font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
	// border: 1px solid #000;
	
	@include tablets-hor {
		width: calc(100% / 3);
	}

	@include tab {
		width: 50%;
	}
}

// ======================end SLIDER================================

.additional {
	@include tab {
		display: none;
	}
}

.section--additional {
	margin-top: 80px;
}

.additional__slide-item {
	border-radius: 5px;
	border: solid 2px #d5d5d5;
	margin-right: 30px;
	padding: 49px 15px 28px 15px;

	@include tab {
		width: 25%;
		flex-shrink: 0;
		scroll-snap-align: start;
		margin-left: 2px;
	}

	@include tablets {
		width: 40%;
	}

	@include phones {
		width: 70%;
	}
	@include phones-mini {
		width: 80%;
		margin-right: 10px;
	}
}

.additional__slide-image {
	width: 100%;
	max-width: 214px;
}

.additional__slide-title {
	margin-top: 60px;
}

.additional__slide-link {
	font-size: 14px;
	border-bottom: 1px solid transparent;
	transition: 0.3s;

	&:hover {
		color: $red;
		border-bottom: 1px solid $red;
	}
}

.additional__slide-price {
	margin-top: 20px;
	color: #295aa7;
	font-weight: bold;
	font-size: 16px;

	span {
		font-weight: normal;
	}
}

.additional__slide-button {
	margin-top: 26px;
	display: flex;
	justify-content: center;
}

// additional-mobiles
.additional__mobiles {
	/* width: 100%; */
	@include tab {
		flex-wrap: nowrap;
		overflow-x: scroll;
		scroll-snap-type: y mandatory;
		display: flex;
		
		/* scroll-padding: 50%; */
		overflow: -moz-scrollbars-none;
	}
}