// ===================================================
// ===================DOORS-CALC======================
// ===================================================

.section--doors-calc {
	margin-top: 50px;
}

.doors-calc {
	display: flex;
	margin-top: 44px;

	@include tablets {
		flex-direction: column;
		justify-content: center;
	}
}

.doors-calc__selects {
	width: 50%;
	flex-shrink: 0;

	@include tab {
		width: 70%;
	}

	@include tablets {
		width: 100%;
	}
}

.doors-calc__select {
	margin-top: 30px;
}

.doors-calc__select-inputs {
	display: flex;
	flex-wrap: wrap;
}

.doors-calc__select-input {
	appearance: none;
  opacity: 0;
}

.doors-calc__select-fake-input {
	width: 100px;
	height: 66px;
	margin-right: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f1efef;
	cursor: pointer;
}

.doors-calc__select-img {
	max-width: 90%;
}

.doors-calc__select-input:checked+.doors-calc__select-fake-input {
	background: $red-gr;
}

.doors-calc__select-fake-input--prof {
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	max-width: 164px;
	max-height: 172px;
	border: 4px solid transparent;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: 0;
}

.doors-calc__select-input:checked+.doors-calc__select-fake-input--prof {
	border: 4px solid $red;
	background: #f1efef;
}

.doors-calc__select-label-prof {
	margin-right: 30px;
	min-width: 150px;

	@include tab {
		margin-right: 20px;
	}
}

.doors-calc__select-label-text {
	width: calc(100% / 3 - 20px);
	min-width: 165px;
	margin-right: 20px;
}

.doors-calc__select-fake-input-prop {
	font-size: 12px;
	color: #000;

	span {
		font-weight: bold;
	}
}

.doors-calc__select-text-input {
	border: solid 1px #dadada;
	padding: 11px 13px;
	border-radius: 10px;
	margin-right: 30px;
	margin-top: 18px;
	width: 100%;
}

.doors-calc__total {
	width: 50%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include tab {
		width: 30%;
	}

	@include tablets {
		margin-top: 30px;
		width: 100%;
	}
}

.doors-calc__total-image {
	max-width: 364px;
	width: 100%;
}

.doors-calc__total-price-wrap {
	margin-top: 20px;
}

.doors-calc__total-price-text {
	font-size: 14px;
	color: #888787
}

.doors-calc__total-price-total {
	font-size: 48px;
	color: #1b1b1b;
	text-align: center;
	font-weight: 900;
	margin-top: 30px;
}

.doors-calc__total-button {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
}

.doors-calc__total-btn {
	width: 100%;
	max-width: 360px;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}