// ================================================
// =====================hero=======================
// ================================================
// ================HERO SLIDER=====================
.hero__slider {
  position: relative;
  width: 100%;
  height: 70vh;
  // margin: 50px auto 0;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
	touch-action: pan-y;
	
	@include phones {
		height: initial;
	}
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.hero__slider-slide-image-wrap {
  pointer-events: none;
}

.hero__slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__slider-wrapper.grab {
  cursor: grab;
}

.hero__slider-wrapper.grabbing{
  cursor: grabbing;
}

.hero__slider-track {
  display: flex;
}

.hero__slider-slide {
  width: 100%;
  height: 70vh;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
	// border: 1px solid #000;
	background: url('/img/content/hero-01.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	@include phones {
		height: initial;
	}
}

.hero__slider-arrows {
  margin-top: 15px;
	text-align: center;
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: flex;
	align-items: center;
}

.hero__slider-index {
	color: #fff;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
	cursor: pointer;
	color: #fff;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}

// =============================SLIDE==================================
.hero__slider-wrap {
	background-color: rgba($text-black, 0.5);
	width: 100%;
	height: 100%;
	@include phones {
		padding: 50px 0 80px 0;
	}
}
.hero__slider-slide-content {
	display: flex;
	height: 100%;
	
	@include phones {
		flex-direction: column-reverse;
		align-items: center;
	}
}

.hero__slider-slide-title h1 {
	color: #fff;
	// font-size: 48px;
	// font-weight: 900;

	// @include phones {
	// 	font-size: 35px;
	// 	text-align: center;
	// }
}

.hero__slider-slide-desc {
	margin-top: 57px;
	// background-image: $red-gr;
  // font-size: 60px;
  // font-weight: 900;
  // font-stretch: normal;
  // font-style: normal;
  // line-height: 1;
  // letter-spacing: normal;
  // text-align: left;
  // color: #ffffff;
  // -webkit-background-clip: text;
  // background-clip: text;
	// -webkit-text-fill-color: transparent;
	// -webkit-text-stroke: 2px #ffffff;
	// white-space: nowrap;
	// @include phones {
	// 	font-size: 30px;
	// 	margin-top: 10px;
	// 	text-align: center;
	// }
}


.hero__slider-slide-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 55%;
	flex-shrink: 0;

	@include phones {
		width: 90%;
	}
}

.hero__slider-slide-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
	flex-shrink: 0;
	@include phones {
		width: 90%;
	}
}

.hero__slider-slide-image-wrap {
	max-width: 375px;
	max-height: 286px;
}