.section--windows-hero {
  margin-top: 30px;
}

.windows-hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0;

  @include phones {
    flex-direction: column-reverse;
  }
}

.windows-hero__info {
  width: 50%;
  flex-shrink: 0;

  @include tab {
    width: 66%;
  }
  @include phones {
    width: 100%;
  }
}

.windows-hero__info-title h1 {
  text-align: center;
	font-size: 72px;
	
	@include tablets {
		font-size: 45px;
	}
}

.windows-hero__info-desc {
	margin-top: 60px;
  font-size: 72px;
  text-align: center;
	
  @include tablets {
		font-size: 45px;
    margin-top: 30px;
  }
}

.windows-hero__info-specifications {
  margin-top: 72px;
  font-size: 30px;
  @include tablets {
		margin-top: 30px;
		font-size: 22px;
	}
	
	@include phones {
		font-size: 18px;
	}
}

.windows-hero__info-specifications-item {
  line-height: 60px;
  text-align: center;
	color: $text-grey;
	@include phones {
		line-height: 1.5;
	}
}

.windows-hero__info-button {
  margin: 68px auto 0 auto;
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 21px 0;
}

.windows-hero__image {
  max-width: 556px;
  width: 100%;

  @include tablets {
    max-width: 300px;
  }
}
